<%= content_for :entry_header do %>
<div class="entry-header">
	<div class="container clearfix">
		<h2 class="entry-title">All Users</h2>
	</div>
</div>
<% end %>

<div class="content-block" id="UsersIndexArea">
  <div class="users">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Avatar</th>
          <th>Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
        <% @users.each do |user| %>
          <tr>
            <td><%= image_tag gravatar_image_url(user.email, 30), alt: "#{user.email}'s gravatar", class: "circular elevated" %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
              <%= link_to 'Show', user, class: "btn btn-xs btn-success" %>&nbsp;
              <%= link_to 'Edit', edit_user_path(user), class: "btn btn-xs btn-info" %>
              <%= link_to 'Remove', user_path(user), method: "delete", class: "btn btn-xs btn-danger" if user.role != "admin" %>
            </td>
            
          </tr>
        <% end %>
      </table>
    </div>
  </div><!--end .users-->
</div>