<div class="block-content clearfix" id="RegistrationArea">
	<div id="RegistrationArea_left">
		<h3>myCourse</h3>
		<p>myCourse application allows RMIT staff member to create and vote for the courses.</p>
		<p>You can:
			<ul>
				<li>Create course and upload images</li>
				<li>Create course categories</li>
				<li>Assign course to a location</li>
				<li>Vote for the course you like</li>
			</ul>
		</p>
	</div>
	<div id="RegistrationArea_right">
		<%= form_for(@user) do |f| %>
			<h3>Register</h3>
			<% if @user.errors.any? %>
			<h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved</h4>
				<div class="validation-summary">
					<ul>
						<% @user.errors.full_messages.each do |message| %>
							<li><%= message %></li>
						<% end %>
					</ul>
				</div>
			<% end %>

			<div class="form-group">
				<%= f.label :name %>
				<%= f.text_field :name, class: "input-sm form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :email %>
				<%= f.email_field :email, class: "input-sm form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :password %>
				<%= f.password_field :password, class: "input-sm form-control" %>
			</div>

			<div class="form-group">
				<%= f.submit "Register", class: "btn btn-lg btn-success" %>&nbsp;&nbsp;&nbsp;
				<%= link_to "Cancel", url_for(:back) %>
			</div>

			<div class="form-group">
				<%= link_to "Already have an account? Sign in", login_path %>
			</div>
		<% end %>
	</div>
</div><!-- end #RegistrationArea.block-content -->
