<%= content_for :site_banner do %>
	<div class="site-banner jumbotron text-center">
		<div class="container">
			<h1><b>Welcome to myCourse Application</b></h1>
			<h3>myCourse Application helps you to browse, manage and vote for courses easily.</h3>
			<br>
			<p>
				<%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-danger", 
				id: "HomeIndexBannerButton" if !current_user %>
				<%= link_to "Go to my profile", user_path(current_user), class: "btn btn-lg btn-danger", 
				id: "HomeIndexBannerButton" if current_user %>
				
			</p>
		</div>
	</div>
<% end %>

<div class="content-block" id="HomeIndexArea">
	<div class="row clearfix">
		<div class="col-xs-12 col-sm-6">
			<h2>Sign in to your account</h2>
			<p>Update your courses, rate courses and view course information</p>
			<p>
				<%= link_to login_path, class:"btn btn-success" do %>
				<span class="fa fa-login"></span> Login to your account
				<% end %>
			</p>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h2>View Courses as Guest User</h2>
			<p>Browse and view courses as a guest and signup later</p>
			<p>
				<%= link_to courses_path, class:"btn btn-success" do %>
				<span class="fa fa-book"></span> Browse all courses
				<% end %>
			</p>
		</div>
	</div>
</div>