<%= content_for :site_banner do %>
	<div class="site-banner jumbotron text-center">
		<div class="container">
			<h1><b>Welcome to myCourse Application</b></h1>
			<h3>myCourse Application helps you to browse, manage and vote for courses easily.</h3>
			<br>
			<p>
				<% if current_user %>
					<%= link_to user_path(current_user), class: "btn btn-lg btn-danger", id: "HomeIndexBannerButton" do %>
						<i class="fa fa-user"></i>&nbsp; Go to my profile
					<% end %>
				<% else %>
					<%= link_to signup_path, class: "btn btn-lg btn-danger", id: "HomeIndexBannerButton" do %>
						<i class="fa fa-user-plus"></i>&nbsp; Sign up now
					<% end %>
				<% end %>
			</p>
		</div>
	</div>
<% end %>

<div class="content-block" id="HomeIndexArea">
	<% if current_user %>
		<%= render "pages/welcome-loggedin" %>
	<% else %>
		<%= render "pages/welcome-guest" %>
	<% end %>
</div>