<%= form_for(course) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :prerequisite %>
    <%= f.text_field :prerequisite %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 10 %>
  </div>

  <div class="field">
    <%= f.label :locations %>
    <table>
      <%= f.collection_check_boxes :location_ids, Location.all, :id, :at do |l| %>
        <tr class="something">
          <td><%= l.check_box %></td>
          <td><%= l.label %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="field">
    <%= f.label :categories %>
    <table>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |c| %>
      <tr>
        <td><%= c.check_box %></td>
        <td><%= c.label %></td>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
