<% content_for :entry_header do %>
  <div class="entry-header">
    <div class="container">
      <h2>All Courses</H2>
    </div>
  </div>
<% end%>

<p id="notice"><%= notice %></p>

<h2>Coordinators</h2>
<ul>
  <% @coordinators.each do |c| %>
    <li><b><%= c.name %></b> (<%= c.email %>)</li>
  <% end %>
</ul>

<%= link_to 'New Course', new_course_path if current_user %>


<div class="content-block" id="CoursesIndexArea">
  <div class="courses">
  <% @courses.each do |course| %>
  <%= render "course", course: course %>
  <% end %>
  </div>
</div>
