<%= content_tag :p, notice, class: "alert alert-success" unless notice.nil? %>

<div class="content-block" id="CourseShowArea">
  <div class="course">

    <%= link_to edit_course_path(@course), class: "edit-course btn btn-sm btn-info" do %>
    <i class="fa fa-edit"></i> &nbsp;Edit this course
    <% end if current_user %>

    <div class="course-banner">

      <%= image_tag @course.image.url if @course.image? %>

      <div class="course-title-wrapper">
        <%= content_tag :h3, @course.name, class: "course-title" %>
      </div>
      
  		<% if current_admin %>
  		<div class="dropdown course-options">
  		  <button class="btn btn-xs btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  		    Options
  		    <span class="caret"></span>
  		  </button>
  		  <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu1">
  		    <li>
  		    	<%= link_to course_resetvotes_path(@course), method: :post do %>
  		    		<i class="fa fa-undo"></i>&nbsp; Reset votes
  		    	<% end %>
  		    </li>
  		    <li>
  		    	<%= link_to course_path(@course), method: :delete do %>
  		    		<i class="fa fa-times"></i>&nbsp; Delete course
  		    	<% end %>
  		    </li>
  		  </ul>
  		</div>

      <% elsif current_user %>
        <span class="vote">
          <%= link_to course_vote_path(@course.id, id: @course.id, vote: true), method: :post, class: "vote-up btn btn-sm btn-success" do %>
            <i class="fa fa-thumbs-up"></i> <span class="votes"><%= @course.votes.select{ |v| v.thumbs_up }.size %></span>
          <% end %>
          <%= link_to course_vote_path(@course.id, id: @course.id, vote: false), method: :post, class: "vote-up btn btn-sm btn-danger" do %>
            <i class="fa fa-thumbs-down"></i> <span class="votes"><%= @course.votes.select{ |v| v.thumbs_up == false }.size %></span>
          <% end %>
        </span>
      <% end %>

    </div>
    <div class="course-meta">
      <div class="row">
        <div class="col-sm-6">

          <p class="course-prerequisite">
            <b>Prerequisites:</b> : <%= @course.prerequisite %>
          </p>

          <p class="course-category">
            <b>Category:</b> 
            <% @course.categories.each do |c| %>
            <%= link_to c.name, category_path(c), class: "btn btn-xs btn-success" %>
            <% end %>
          </p>

          <p class="course-location">
            <b>Location: </b>
            <% @course.locations.each do |l| %>
            <%= link_to l.at, location_path(l), class: "btn btn-xs btn-danger" %>
            <% end %>
          </p>

        </div>
        <div class="col-sm-6">
          <p class="course-coordinator">
            <%= image_tag gravatar_image_url(@course.user.email), alt: "#{@course.user.name}'s gravatar" %>
            <b>Course coordinator</b>:<br>
            <%= link_to @course.user.name, user_path(@course.user) %>
          </p>
        </div>
      </div>
    </div><!-- end .course-meta -->

    <div class="course-description">
      <%= simple_format(@course.description) %>
    </div>

    <div class="course-actions clearfix">
      <%= link_to "Return to course list", courses_path %>

      <% if current_admin %>
      <span class="block pull-right">
        <%= link_to "#", method: :post, class: "btn btn-sm btn-warning" do %>
	    		<i class="fa fa-undo"></i>&nbsp; Reset votes
	    	<% end %>
	    	&nbsp;
	    	<%= link_to "#", method: :post, class: "btn btn-sm btn-danger" do %>
	    		<i class="fa fa-times"></i>&nbsp; Delete course
	    	<% end %>
	    	
      </span>


      <% elsif current_user %>
        <span class="vote pull-right">
          <%= link_to course_vote_path(@course.id, id: @course.id, vote: true), method: :post, class: "vote-up btn btn-sm btn-success" do %>
            <i class="fa fa-thumbs-up"></i> <span class="votes"><%= @course.votes.select{ |v| v.thumbs_up }.size %></span>
          <% end %>
          <%= link_to course_vote_path(@course.id, id: @course.id, vote: false), method: :post, class: "vote-up btn btn-sm btn-danger" do %>
            <i class="fa fa-thumbs-down"></i> <span class="votes"><%= @course.votes.select{ |v| v.thumbs_up == false }.size %></span>
          <% end %>
        </span>
      <% end %>

    </div>
  </div>
</div>