<div class="content-block" id="CategoriesIndexArea">
  <% if @categories.blank? %>
    <h4>There are no categories available at the moment. Please come back later.</h4>
    <p><%= link_to "Go back", url_for(:back) %></p>
  <% else %>
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#Categories" data-toggle="tab">Categories</a>
    </li>
		<li>
		  <a href="#Coordinators" data-toggle="tab">Coordinators</a>
		</li>
	</ul>
	
	<div class="tab-content clearfix">
	  <div class="tab-pane active" id="Categories">
	    
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td><%= link_to 'Show', category %></td>
              <td><%= link_to 'Edit', edit_category_path(category) if current_user %></td>
              <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } if current_user %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
	    
	  </div>
	  
	  <div class="tab-pane" id="Coordinators">
	    TODO: Coordinators
	  </div>
		</div>
	<% end %>	
		
</div>
