<%= content_for :entry_header do %>
<div class="entry-header">
	<div class="container clearfix">
		<h2 class="entry-title">All Categories</h2>
	</div>
</div>
<% end %>

<div class="content-block" id="CategoriesIndexArea">
  
  <% if @categories.blank? %>
    <h4>There are no categories available at the moment. Please come back later.</h4>
    <p><%= link_to "Go back", url_for(:back) %></p>
    
  <% else %>
    <p>
    <%= link_to new_category_path, class: "btn btn-sm btn-success" do %>
        <i class="fa fa-plus"></i>&nbsp; Add new category
    <% end if current_user %>
    </p>
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Categories</th>
          
          <% if current_user %>
            <th>Options</th>
          <% else %>
            <th>Number of courses</th>
          <% end %>
          
        </tr>
        <% @categories.each do |category| %>
        <tr>
          <td><%= link_to category.name, category_path(category) %></td>
          <% if current_user %>
          <td>
            <%= link_to "Edit", edit_category_path(category), class: "btn btn-xs btn-info" %>
            <%= link_to "Remove", category_path(category), method: :delete, class: "btn btn-xs btn-danger" if current_admin %>
          </td>
          <% else %>
          <td><%= category.courses.nil? ? "0" : category.courses.count %></td>
          <% end %>
        </tr>
        <% end if @categories.presence %>
      </table>
    </div>
	<% end %>	
		
</div>
