<%= content_for :entry_header do %>
<div class="entry-header">
	<div class="container">
		<h2 class="entry-title">Category: <%= @category.name %></h2>
		<h4><span id="EntryHeaderTitle"><%= "all courses under category \"#{@category.name}\"" %></span></h4>
		<%= link_to "Edit this category", edit_category_path(@category), class: "btn btn-sm btn-success" if current_user %>
	</div>
</div>
<% end %>

<div class="content-block" id="CategoriesShowArea">
  <% if @category.courses.blank? %>
  	<h4>There are no courses assigned on this category</h4>
  	
  	<% if current_user %>
  		<p><%= link_to "Create new course", new_course_path, class: "btn btn-success" %></p>
  	<% end %>
  	
  <% else %>
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#Courses" data-toggle="tab">Courses</a>
    </li>
		<li>
		  <a href="#Coordinators" data-toggle="tab">Coordinators</a>
		</li>
	</ul>
	
	<div class="tab-content clearfix">
	  <div class="tab-pane active" id="Courses">
	    <div class="courses">
	        <% @category.courses.each do |course| %>
	        <%= render "courses/course", course: course %>
	        <% end %>
	    </div>
	  </div>
	  <div class="tab-pane" id="Coordinators">
	  	<div class="coordinators">
	  		<% if @category.courses.map(&:user).all? &:nil? %>
	  			<h4 class="text-left">There are no coordinators for these courses</h2>
	  		<% else %>
	  		<% @category.courses.map(&:user).each do |coordinator| %>
	        <%= render "users/coordinator", coordinator: coordinator unless coordinator.nil? %>
	      <% end %>
	      <% end %>
	  	</div>
	  </div>
	</div>
  <% end %>
</div>
