<%= content_for :entry_header do %>
<div class="entry-header">
	<div class="container">
		<h2 class="entry-title">Location: <%= @location.at %></h2>
		<h4><span id="EntryHeaderTitle"><%= "all courses scheduled in #{@location.at}" %></span></h4>
		<%= link_to "Edit location", edit_location_path(@location), class: "btn btn-sm btn-success"%>
	</div>
</div>
<% end %>

<div class="content-block" id="LocationsShowArea">
  <% if @location.courses.blank? %>
  	<h4>There are no courses assigned at this location</h4>
    <p><%= link_to "Create new course", new_course_path, class: "btn btn-success" %></p>
  <% else %>
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#Courses" data-toggle="tab">Courses</a>
    </li>
		<li>
		  <a href="#Coordinators" data-toggle="tab">Coordinators</a>
		</li>
	</ul>
	
	<div class="tab-content clearfix">
	  <div class="tab-pane active" id="Courses">
	    <div class="courses">
	        <% @location.courses.each do |course| %>
	        <%= render "courses/course", course: course %>
	        <% end %>
	    </div>
	  </div>
	  <div class="tab-pane" id="Coordinators">
	  	<div class="coordinators">
		  	<% @location.courses.map(&:user).uniq.each do |coordinator| %>
	      <%= render "users/coordinator", coordinator: coordinator %>
	      <% end %>
	  	</div>
	  </div>
	</div>
  <% end %>
</div>