<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= "#{@title} - " unless @title.blank? %>myCourse</title>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

</head>
<body>
  <div class="site-wrapper">
    <%= render "layouts/header" %>
    <div class="site-main">
      
      <% flash.each do |key, value| %>
        <div id="Notification" class="alert alert-<%= key %>">
          <div class="container"><%= value %></div>
        </div>
      <% end %>
      
      <%= yield :site_banner %>
      
      <%= yield :entry_header %>
      
      <div class="site-content">
        <div class="container">
          <%= yield %>
          
          <!--<p class="go-back-area">
            <%= link_to "Go back", url_for(:back) %>
          </p>-->
        </div>
      </div><!-- end .site-content -->

    </div><!-- end .site-main -->

  <%= render "layouts/footer"%>

  </div><!-- end .site-wrapper -->
</body>
</html>


